<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="vacuum_gripper_urdf" params="prefix joint_prefix">
  <xacro:property name="mesh_path" value="file://$(find ros_industrial_support)"/>
    <!-- link list -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_path}/meshes/vacuum_gripper/visual/vacuum_gripper.dae"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
      <collision name="${prefix}base_link_collision">
        <!--
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_path}/meshes/vacuum_gripper/collision/vacuum_gripper.dae"/>
        </geometry>
        <material name="red"/>
        -->
        <geometry>
          <!-- <mesh filename="file://$(find ariac_description)/meshes/vacuum_gripper/vacuum_gripper.stl" scale="1 1 1"/> -->
          <cylinder radius="0.045" length="0.01" />
        </geometry>
      </collision>
      <!--
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="1.0" ixy="0" ixz="0"
                 iyy="1.0" iyz="0"
                 izz="1.0" />
        <mass value="1.0" />
      </inertial>
      -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.0000063" ixy="0.0" ixz="0.0" iyy="0.0000063" iyz="0.0" izz="0.000025"/>
      </inertial>
    </link>

    <link name="${prefix}suction_cup">
      <visual>
        <origin xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.001" ixy="0" ixz="0"
                 iyy="0.001" iyz="0"
                 izz="0.001" />
        <mass value="0.001" />
      </inertial>

    </link>

    <!-- joint list -->
    <joint name="${joint_prefix}" type="fixed">
      <origin xyz="0 0 0.08" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}suction_cup" />
    </joint>
 
    <gazebo reference="vacuum_gripper1_suction_cup">
      <sensor type="contact" name="bumper">
        <update_rate>10</update_rate>
        <contact>
          <collision>${prefix}_gripper_collision_collision</collision>
        </contact>
      </sensor>
    </gazebo>

    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Green</material>      
    </gazebo>

    <gazebo reference="vacuum_gripper1_suction_cup">
      <material>Gazebo/Black</material>      
    </gazebo>

    <gazebo>
      <!--<plugin name="vacuum_gripper" filename="libgazebo_ros_vacuum_gripper.so">-->
      <plugin filename="libMyVacuumGripperPlugin.so" name="vacuum_gripper">
          <ros>

            <!--<namespace>/gazebo_plugins</namespace>-->
            <namespace>/ros_industrial_actuators</namespace>

            <remapping>switch:=custom_switch</remapping>
            <remapping>grasping:=custom_grasping</remapping>
          </ros>

        <!--<link_name>xarm::${prefix}suction_cup</link_name>-->
        <link_name>xarm::link6</link_name>
        <!--<link_name>vacuum_gripper1_suction_cup</link_name>-->
        <!-- Max distance to attract entities -->

      </plugin>
    </gazebo>

  </xacro:macro>
</robot>
