<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="vacuum_gripper_urdf" params="prefix joint_prefix">
  <xacro:property name="mesh_path" value="file://$(find ros_industrial_support)"/>
    <!-- link list -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_path}/meshes/vacuum_gripper/visual/vacuum_gripper.dae"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
      <collision name="${prefix}base_link_collision">
        <geometry>
          <mesh filename="${mesh_path}/meshes/vacuum_gripper/collision/vacuum_gripper.dae"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.0000063" ixy="0.0" ixz="0.0" iyy="0.0000063" iyz="0.0" izz="0.000025"/>
      </inertial>
    </link>

    <link name="${prefix}suction_cup">
    </link>

    <!-- joint list -->
    <joint name="${joint_prefix}" type="fixed">
      <origin xyz="0 0 0.080" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}suction_cup" />
    </joint>
 
    <gazebo reference="vacuum_gripper1_suction_cup">
      <sensor type="contact" name="bumper">
        <update_rate>10</update_rate>
        <contact>
          <collision>${prefix}_gripper_collision_collision</collision>
        </contact>
      </sensor>
    </gazebo>

    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Green</material>      
    </gazebo>

    <gazebo reference="vacuum_gripper1_suction_cup">
      <material>Gazebo/Black</material>      
    </gazebo>

    <gazebo>
      <plugin filename="libCustomVacuumGripperPlugin.so" name="vacuum_gripper">
          <ros>
            <!--<namespace>/gazebo_plugins</namespace>-->
            <namespace>/gripper</namespace>

            <remapping>switch:=custom_switch</remapping>
            <remapping>grasping:=custom_grasping</remapping>
          </ros>
        <link_name>xarm::link6</link_name>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
