<?xml version="1.0" ?>
<robot name="logical_camera_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="logical_camera_urdf" params="logical_camera_parent logical_camera_prefix  *origin">
  <xacro:property name="mesh_path" value="file://$(find ros_industrial_support)"/>

  <joint name="${logical_camera_prefix}joint" type="fixed">
    <xacro:insert_block name="origin" />
    <parent link="${logical_camera_parent}"/>
    <child link="${logical_camera_prefix}origin"/>
  </joint>

  <link name="${logical_camera_prefix}origin"/>

  <joint name="${logical_camera_prefix}joint_post" type="fixed">
    <origin xyz="-0.02 0 -0.02" rpy="0 0 -1.5708"/>
    <parent link="${logical_camera_prefix}origin"/>
    <child link="${logical_camera_prefix}origin_post"/>
  </joint>

    <!-- Links -->
    <link name="${logical_camera_prefix}origin_post">
      <visual>
        <geometry>
          <mesh filename="${mesh_path}/meshes/camera/visual/camera.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="${mesh_path}/meshes/camera/collision/camera.dae"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="1.0" ixy="0" ixz="0"
                 iyy="1.0" iyz="0"
                 izz="1.0" />
        <mass value="1.0" />
      </inertial>
    </link>
    <gazebo>
      <static>true</static>
    </gazebo>
  </xacro:macro>
</robot>
